@import url(http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.2/leaflet.css);


#map {
    width: 100%;
    height: 1000px;
}

svg {
    position: relative;
}

path {
    fill: #000;
    fill-opacity: .6;
    stroke-opacity: .5;
    stroke: #0b0d1d;
    stroke-width: 0.2px;
}

path:hover {
    fill: brown;
    fill-opacity: .8;
}


.labels {
    text-anchor: middle;
    alignment-baseline: central;
    font-family: 'Cinzel', serif;
    opacity:0.8
}

.shadow {
    text-anchor: middle;
    alignment-baseline: central;
    font-family: 'Cinzel', serif;
    stroke: #FFFBE5;
    stroke-width: 4px;
    opacity: 0.4;
}

.templateSec {
    position: relative;
}

.storage-browse-datalayers {
    display: none;
}

.dateStart {
    width: 45%;
}

.dateEnd {
    float: right;
    width: 45%;
}

.dashBetween {
    float: right;
    width: 10%;
    text-align: center;
}
/*
.labels {
    text-anchor: middle;
    alignment-baseline: central;
}
.shadow {
    text-anchor: middle;
    alignment-baseline: central;
    
    stroke: #FFFBE5;
    stroke-width: 4px;
    opacity: 0.4;
}
/*

#chronasWiki {
    height: 360px;
    width: 640px;
    margin:0;
    padding:0;
    border:0;
}

*/

#loader1 {
    position:absolute;
    left:40%;
    top:35%;
    border-radius:20px;
    box-shadow:0px 0px 10px #777777;
}

.leaflet-control-zoom-in{
    float: left;  !important
}

.leaflet-control-zoom-out{
    float: right; !important
}

.leaflet-bar a:last-child:hover {
    background: rgba(255,255,255,1);
}
.leaflet-bar a:first-child:hover {
    background: rgba(255,255,255,1);
}

.leaflet-bar a:first-child {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom: inherit !important;

    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    background: rgba(255,255,255,0.8);
    border-top: inherit !important;
}
.leaflet-bar a:last-child {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom: inherit !important;

    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    background: rgba(255,255,255,0.8);
    border-top: inherit !important;
}

.item.range{
    display: none !important;
}

.toggle.btn-sm{min-width: 90px !important;min-height: 30px !important;}

.leaflet-bottom.leaflet-left{
    z-index: 3;
}

.storage-ui-container{
    z-index: 4;
}

#featureForms a{
    background-position: inherit;
    background-repeat: inherit;
    display: inherit;
    height: inherit;
    width: inherit;
    line-height: inherit;
    background-image: inherit;
}

.advanced {
    white-space: nowrap !important;
    display: inline-block !important;
}

.toggle.sharp { border-radius: 0px;}
.toggle.sharp .toggle-handle { border-radius: 0px; }

.lowerButton {
    height: 25px !important;
    line-height: 10px !important;
    background-color: #f5f5f5;
    background-image: inherit !important;

}