{% load leaflet_storage_tags %}
<div id="map" style="width: 100%;position: absolute;top: 0; /* bottom: 0; */left: 0;right: 0;bottom: 120px;">


    <div id="featureForms" style="position: relative; /*margin-top: 200px; margin-left: 20px;*/  z-index: 20; /*width: 150px; */">
        <div  >
            <div id="featureTree" style="overflow-x: hidden; ">
                <ul class="nav nav-list">
                    <li><label class="tree-toggler nav-header">Area</label>
                        <ul class="nav nav-list tree">
                            
                            <table style="width:182px">
                                <tr>
                                    <td style="    width: 80px;"></td>
                                    <td colspan="2" style="text-align: center;"><span style="    float: left;">Area</span>
                                        <button onclick="lockFeatureSelection()"  id="lockFeatureButton" title="Always use labels of the area feature" type="submit"                                                class="btn btn-default lowerButton">
                                            <i id="lockIcon" class="fa fa-lock"></i>
                                        </button><span style="    float: right;">Label</span>
                                    </td>
                                </tr>
                                <tr id="rulerTR">
                                    <td>Ruler</td>
                                    <td><input id="A-Country" data-style="sharp"  data-onstyle="info" type="checkbox" data-size="mini" data-toggle="toggle" checked data-on=" " data-off=" "></td>
                                    <td><input id="T-Country"  data-style="sharp" data-onstyle="info" type="checkbox" data-size="mini" data-toggle="toggle" checked data-on=" " data-off=" "></td>
                                </tr>
                                <tr id="cultureTR">
                                    <td>Culture</td>
                                    <td><input id="A-Culture" data-style="sharp" data-onstyle="info" type="checkbox" data-size="mini" data-toggle="toggle" data-on=" " data-off=" "></td>
                                    <td><input id="T-Culture" data-style="sharp" data-onstyle="info" type="checkbox" data-size="mini" data-toggle="toggle" data-on=" " data-off=" "></td>
                                </tr>
                                <tr id="religionTR">
                                    <td>Religion</td>
                                    <td><input id="A-Religion" data-style="sharp" data-onstyle="info" type="checkbox" data-size="mini" data-toggle="toggle" data-on=" " data-off=" "></td>
                                    <td><input id="T-Religion" data-style="sharp" data-onstyle="info" type="checkbox" data-size="mini" data-toggle="toggle" data-on=" " data-off=" "></td>
                                </tr>
                                <tr id="mainreligionTR">
                                    <td>Main Religion</td>
                                    <td><input id="A-MainRel" data-style="sharp" data-onstyle="info" type="checkbox" data-size="mini" data-toggle="toggle" data-on=" " data-off=" "></td>
                                    <td><input id="T-MainRel" data-style="sharp" data-onstyle="info" type="checkbox" data-size="mini" data-toggle="toggle" data-on=" " data-off=" "></td>
                                </tr>
                                <tr id="populationTR">
                                    <td>Population</td>
                                    <td><input id="A-Population" data-style="sharp" data-onstyle="info" type="checkbox" data-size="mini" data-toggle="toggle" data-on=" " data-off=" "></td>
                                    <td><!--<input id="T-Population" data-style="sharp" data-onstyle="info" type="checkbox" disabled data-size="mini" data-toggle="toggle" data-on=" " data-off=" "> --></td>
                                </tr>
                            </table>
                            <!--
                            <form id="colorFeat" style="float: left" >
Area LOCK-UNLOCK Text
                                <input type="radio" name="Area" checked="checked" onclick="addAreaFeat('country')" value="A-Country" /><br>
                                <input type="radio" name="Area" onclick="addAreaFeat('culture')" value="A-Culture" /><br>
                                <input type="radio" name="Area" onclick="addAreaFeat('religion')" value="A-Religion" /><br>
                                <input type="radio" name="Area" onclick="addAreaFeat('religionGeneral')" value="A-Main Religions" /><br>
                                <input type="radio" name="Area" onclick="addAreaFeat('population')" value="A-Population" /><br>

                            </form>
                            <form>

                                <input type="radio" name="Text" checked="checked" onclick="addTextFeat('country')" value="T-Country" > T-Country<br>
                                <input type="radio" name="Text" onclick="addTextFeat('culture')" value="T-Culture" > T-Culture<br>
                                <input type="radio" name="Text" onclick="addTextFeat('religion')" value="T-Religion" > T-Religion<br>
                                <input type="radio" name="Text" onclick="addTextFeat('religionGeneral')" value="T-Main Religions" > T-Main Religions<br>
                                <input type="radio" name="Text" onclick="addTextFeat('none')" value="none" >none<br>

                            </form>      
                            
                                                  -->
                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li><label class="tree-toggler nav-header">Marker</label>
                        <ul class="nav nav-list tree">
                            <li><input id="cityChecked" data-onstyle="default" type="checkbox" data-size="small" data-toggle="toggle" data-on="Cities" data-off="Cities"> <label class="tree-toggler nav-header advanced">>></label>
                                <ul class="nav nav-list tree">
                                    <li>

                                        <div class="squaredOne">
                                            <input type="checkbox" checked value="None" id="citiesBox" name="check" />
                                            <label for="citiesBox"></label>
                                        </div>
                                        <div class="labelForBox">
                                            Cities
                                        </div>
                                    </li>
                                    <li>

                                        <div class="squaredOne">
                                            <input type="checkbox" checked value="None" id="castlesBox" name="check" />
                                            <label for="castlesBox"></label>
                                        </div>
                                        <div class="labelForBox">
                                            Castles
                                        </div>
                                    </li>
                                    <li style="display: none">

                                        <div class="squaredOne">
                                            <input type="checkbox" value="None" id="buildingsBox" name="check" />
                                            <label for="buildingsBox"></label>
                                        </div>
                                        <div class="labelForBox">
                                            Buildings
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li> <input id="peopleChecked" data-onstyle="default" type="checkbox" data-size="small" data-toggle="toggle" data-on="People" data-off="People"> <label class="tree-toggler nav-header advanced">>></label>
                                <ul class="nav nav-list tree">
                                    
                                    <li>
                                    
                                    <div class="squaredOne">
                                        <input type="checkbox" checked value="None" id="milBox" name="check" />
                                        <label for="milBox"></label>
                                    </div>
                                        <div class="labelForBox">
                                            Military
                                        </div>                         
                                    </li>
                                    <li>
                                        <div class="squaredOne">
                                            <input type="checkbox" checked value="None" id="expBox" name="check" />
                                            <label for="expBox"></label>
                                        </div>
                                        <div class="labelForBox">
                                            Explorer
                                        </div>
                                    </li>
                                    <li>
                                        <div class="squaredOne">
                                            <input type="checkbox" checked value="None" id="polBox" name="check" />
                                            <label for="polBox"></label>
                                        </div>
                                        <div class="labelForBox">
                                            Politician
                                        </div>
                                    </li>
                                    <li>
                                        <div class="squaredOne">
                                            <input type="checkbox" checked value="None" id="sciBox" name="check" />
                                            <label for="sciBox"></label>
                                        </div>
                                        <div class="labelForBox">
                                            Scientist
                                        </div>
                                    </li>
                                    <li>
                                        <div class="squaredOne">
                                            <input type="checkbox" checked value="None" id="artBox" name="check" />
                                            <label for="artBox"></label>
                                        </div>
                                        <div class="labelForBox">
                                            Artist
                                        </div>
                                    </li>
                                    <li>
                                        <div class="squaredOne">
                                            <input type="checkbox" checked value="None" id="relBox" name="check" />
                                            <label for="relBox"></label>
                                        </div>
                                        <div class="labelForBox">
                                            Religious
                                        </div>
                                    </li>
                                    <li>
                                        <div class="squaredOne">
                                            <input type="checkbox" checked value="None" id="athBox" name="check" />
                                            <label for="athBox"></label>
                                        </div>
                                        <div class="labelForBox">
                                            Athlete
                                        </div>
                                    </li>
                                    <li>
                                        <div class="squaredOne">
                                            <input type="checkbox" value="None" id="uncBox" name="check" />
                                            <label for="uncBox"></label>
                                        </div>
                                        <div class="labelForBox">
                                            Other
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li><input id="eventsChecked" data-onstyle="default" type="checkbox" data-size="small" data-toggle="toggle" data-on="Battles" data-off="Battles">
                            </li>
                            <li><input id="artChecked"  data-onstyle="default"  type="checkbox" data-size="small" data-toggle="toggle" data-on="Artefacts" data-off="Artefacts" >
                            </li>
                            <li><input id="otherChecked"  data-onstyle="default"  type="checkbox" data-size="small" data-toggle="toggle" data-on="Other" data-off="Other" > <label class="tree-toggler nav-header advanced">>></label>
                                <ul class="nav nav-list tree">
                                    <li>

                                        <div class="squaredOne">
                                            <input type="checkbox" checked value="None" id="areaInfoBox" name="check" />
                                            <label for="areaInfoBox"></label>
                                        </div>
                                        <div class="labelForBox">
                                            Area Information
                                        </div>
                                    </li>
                                    <li>

                                        <div class="squaredOne">
                                            <input type="checkbox" value="None" id="unclassifiedBox" name="check" />
                                            <label for="unclassifiedBox"></label>
                                        </div>
                                        <div class="labelForBox">
                                            Unclassified
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li id="listPlaceholder">
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        

    </div>

</div>
<div id="timeline" style="height: 120px; position: absolute; left: 0; right: 0; bottom: 0;"></div>


<script type="text/javascript">
    
    console.log("*** initializing map");

    var b_area = true;
    
    var b_people = false;
    var b_city = false;
    var b_events = false;
    var b_art = false;
    var b_other = false;

    var b_sub_areaInfo = true;
    var b_sub_cities = true;
    var b_sub_castles = true;
    var b_sub_buildings = true;
    
    var b_sub_military = true;
    var b_sub_politician = true;
    var b_sub_scientist = true;
    var b_sub_religious = true;
    var b_sub_athlete = true;
    var b_sub_uncP = false;  // !!
    var b_sub_exp = true;
    var b_sub_artist = true;
    //var b_sub_battle = false;
    //var b_sub_siege = false;
    //var b_sub_artefact = true;
    var b_sub_unclassified = false;

    $("#citiesBox").change(function(){
        b_sub_cities = document.getElementById("citiesBox").checked;
        if(b_city && b_sub_cities){
            map.getDataLayerByStorageId(newYear).fetchData();
            $('.city').show();
        }
        else{
            if ($.inArray(newYear, a_settlementsLoaded) != -1){
                $('.city').hide()
            }
        }
    });
            
    $("#castlesBox").change(function(){
        b_sub_castles = document.getElementById("castlesBox").checked;
        if(b_city && b_sub_castles){
            map.getDataLayerByStorageId(newYear).fetchData();
            $('.castles').show();
        }
        else{
            if ($.inArray(newYear, a_castlesLoaded) != -1){
                $('.castles').hide()
            }
        }
    });
    
    $("#unclassifiedBox").change(function(){
        b_sub_unclassified = document.getElementById("unclassifiedBox").checked;
        if(b_other && b_sub_unclassified){
            map.getDataLayerByStorageId(newYear).fetchData();
            $('.unc').show();
        }
        else{
            if ($.inArray(newYear, a_unclassifiedLoaded) != -1){
                $('.unc').hide()
            }
        }
    });

    $("#areaInfoBox").change(function(){
        b_sub_areaInfo = document.getElementById("areaInfoBox").checked;
        if(b_other && b_sub_areaInfo){
            map.getDataLayerByStorageId(newYear).fetchData();
            $('.areaInfo').show();
        }
        else{
            if ($.inArray(newYear, a_areaInfoLoaded) != -1){
                $('.areaInfo').hide()
            }
        }
    });
    
    $("#milBox").change(function(){
        b_sub_military = document.getElementById("milBox").checked;
        if(b_people && b_sub_military){
            map.getDataLayerByStorageId(newYear).fetchData();
            $('.mil').show();
        }
        else{
            if ($.inArray(newYear, a_milLoaded) != -1){
                $('.mil').hide()
            }
        }
    });

    $("#polBox").change(function(){
        b_sub_politician = document.getElementById("polBox").checked;
        if(b_people && b_sub_politician){
            map.getDataLayerByStorageId(newYear).fetchData();
            $('.pol').show();
        }
        else{
            if ($.inArray(newYear, a_polLoaded) != -1){
                $('.pol').hide()
            }
        }
    });

    $("#sciBox").change(function(){
        b_sub_scientist = document.getElementById("sciBox").checked;
        if(b_people && b_sub_scientist){
            map.getDataLayerByStorageId(newYear).fetchData();
            $('.sci').show();
        }
        else{
            if ($.inArray(newYear, a_sciLoaded) != -1){
                $('.sci').hide()
            }
        }
    });

    $("#relBox").change(function(){
        b_sub_religious = document.getElementById("relBox").checked;
        if(b_people && b_sub_religious){
            map.getDataLayerByStorageId(newYear).fetchData();
            $('.rel').show();
        }
        else{
            if ($.inArray(newYear, a_relLoaded) != -1){
                $('.rel').hide()
            }
        }
    });

    $("#uncBox").change(function(){
        b_sub_uncP = document.getElementById("uncBox").checked;
        if(b_people && b_sub_uncP){
            map.getDataLayerByStorageId(newYear).fetchData();
            $('.uncP').show();
        }
        else{
            if ($.inArray(newYear, a_uncPLoaded) != -1){
                $('.uncP').hide()
            }
        }
    });

    $("#expBox").change(function(){
        b_sub_exp = document.getElementById("expBox").checked;
        if(b_people && b_sub_exp){
            map.getDataLayerByStorageId(newYear).fetchData();
            $('.exp').show();
        }
        else{
            if ($.inArray(newYear, a_expLoaded) != -1){
                $('.exp').hide()
            }
        }
    });

    $("#artBox").change(function(){
        b_sub_artist = document.getElementById("artBox").checked;
        if(b_people && b_sub_artist){
            map.getDataLayerByStorageId(newYear).fetchData();
            $('.arti').show();
        }
        else{
            if ($.inArray(newYear, a_artistLoaded) != -1){
                $('.arti').hide()
            }
        }
    });

    $("#athBox").change(function(){
        b_sub_athlete = document.getElementById("athBox").checked;
        if(b_people && b_sub_athlete){
            map.getDataLayerByStorageId(newYear).fetchData();
            $('.ath').show();
        }
        else{
            if ($.inArray(newYear, a_athLoaded) != -1){
                $('.ath').hide()
            }
        }
    });
    
    
    $("#areaChecked").change(function(){
        b_area = document.getElementById("areaChecked").checked;

        
        if(b_area){
            map.getDataLayerByStorageId(newYear).fetchData();
            $('svg').show();
        }
        else{
            if ($.inArray(newYear, a_areaInfoLoaded) != -1){
                $('svg').hide()
            }
        }
    });

    $("#peopleChecked").change(function(){
        b_people = document.getElementById("peopleChecked").checked;
        console.debug("map.datalayers:",map.datalayers);
        
        if(b_people){
            $('.people').show()
            map.getDataLayerByStorageId(newYear).fetchData()
        }
            
        else{
            if ($.inArray(newYear, a_peopleLoaded) != -1){
                $('.people').hide()
            }
            
            if ($.inArray(newYear, a_milLoaded) != -1){
                $('.mil').hide()
            }
            if ($.inArray(newYear, a_polLoaded) != -1){
                $('.pol').hide()
            }
            if ($.inArray(newYear, a_sciLoaded) != -1){
                $('.sci').hide()
            }
            if ($.inArray(newYear, a_relLoaded) != -1){
                $('.rel').hide()
            }
            if ($.inArray(newYear, a_uncPLoaded) != -1){
                $('.uncP').hide()
            }
            if ($.inArray(newYear, a_expLoaded) != -1){
                $('.exp').hide()
            }
            if ($.inArray(newYear, a_artistLoaded) != -1){
                $('.arti').hide()
            }
            if ($.inArray(newYear, a_athLoaded) != -1){
                $('.ath').hide()
            }
        }
        
    });
    
    $("#cityChecked").change(function(){
        b_city = document.getElementById("cityChecked").checked;
        console.debug("map.datalayers:",map.datalayers)
        // search for storage id of iterate map.datalayers_index    year in object and do:
        
        if(b_city){
            if (b_sub_castles) $('.castles').show()
            else{
                $('.castles').hide()
            }
            if (b_sub_cities) $('.city').show()
            else{
                $('.city').hide()
            }
            map.getDataLayerByStorageId(newYear).fetchData()
        }
        else{      
            if ($.inArray(newYear, a_castlesLoaded) != -1){
                $('.castles').hide()
            }
            if ($.inArray(newYear, a_settlementsLoaded) != -1){
                $('.city').hide()
            }
        }
        
    });

    $("#artChecked").change(function(){
        b_art = document.getElementById("artChecked").checked;
        if(b_art){
            $('.art').show()
            map.getDataLayerByStorageId(newYear).fetchData()
        }

        else{
            if ($.inArray(newYear, a_artefactLoaded) != -1){
                $('.art').hide()
            }
        }
    });
    
    $("#eventsChecked").change(function(){
        b_events = document.getElementById("eventsChecked").checked;
        if(b_events){
            $('.events').show()
            map.getDataLayerByStorageId(newYear).fetchData()
        }
            
        else{
            if ($.inArray(newYear, a_eventsLoaded) != -1){
                $('.events').hide()
            }
        }
    });

    $("#otherChecked").change(function(){
        b_other = document.getElementById("otherChecked").checked;
        console.debug("map.datalayers:",map.datalayers)
        // search for storage id of iterate map.datalayers_index    year in object and do:

        if(b_other){
            if(b_sub_unclassified) {
                $('.unc').show()
            }
            else{
                $('.unc').hide()
            }
            if(b_sub_areaInfo) {
                $('.areaInfo').show()
            }
            else{
                $('.areaInfo').hide()
            }
            map.getDataLayerByStorageId(newYear).fetchData()
        }
        else{
            if ($.inArray(newYear, a_unclassifiedLoaded) != -1){
                $('.unc').hide()
            }
            if ($.inArray(newYear, a_areaInfoLoaded) != -1){
                $('.areaInfo').hide()
            }
        }

    });

    var map = new L.Storage.Map("map", {{ map_settings|notag|safe }});



    map.on("viewreset", reset);
    console.debug("before")
    svgProv = d3.select(map.getPanes().overlayPane).append("svg");
    map.on("zoomstart", function () {
        svgProv.attr("visibility", "hidden")
    });
    map.on("zoomend", function () {
        svgProv.attr("visibility", "visible ")
    });

    g00 = svgProv.append("g").attr("class", "leaflet-zoom-hide");

    g1 = g00.append("g");
    g0 = g00.append("g");


    gProvinceAreas = g1.append("g").attr("id", "provinceAreas");
    gProvinceLabels = g1.append("g").attr("id", "provinceLabels");

    gActiveCouLabels = g0.append("g").attr("id", "activeCouLabels");
    gActiveCulLabels = g0.append("g").attr("id", "activeCulLabels");
    gActiveRelLabels = g0.append("g").attr("id", "activeRelLabels");
    gActiveRelGenLabels = g0.append("g").attr("id", "activeRelGenLabels");
    transform2 = d3.geo.transform({point: projectPoint});
    path = d3.geo.path().projection(transform2);

    var ttt = [];


    /*
     d3.json("/static/svgOverlay/DL500x.geojson", function (DL500) {

     d3.json("/static/svgOverlay/DL50a.geojson", function (DL50) {

     ttt = DL50;
     activeYear = jQuery.extend({}, DL50);
     dl50 = jQuery.extend({}, DL50);
     dl500 = jQuery.extend({}, DL500);

     provinceCollection = jQuery.extend({}, tprovinceCollection);

     console.debug(provinceCollection);
     setupCollections();
     addTextFeat('country');
     addAreaFeat('country');

     });
     });
     });

     */

    $( "#timeline" ).mouseup(function(event) {

        if (isdragging) return;
        console.debug("!mouseup");
        //      if (staticCore.eventParams.dragging) return;

        var deltaX = event.clientX,
                x = deltaX,

                time = staticCore.body.util.toTime(x);

        staticCore.setCustomTime(time);

        // fire a timechange event
        staticCore.body.emitter.emit('timechange', {
            time: new Date(staticCore.customTime.valueOf())
        });


    });


    $("#featureForms")
            .prependTo(".storage-browse-actions");

    $('#listPlaceholder').append($(".storage-browse-link").detach());

    $(".storage-browse-toggle").click(function(){ 
        if($(".storage-browse-actions").css("display") == "none"){
            $(".storage-browse-actions").css("display","block");

            $(".storage-browse-toggle").addClass( "storage-browse-toggle-active" );
            $(".leaflet-control-browse.storage-control.leaflet-control").css("border","0px solid rgb(187, 187, 187)")
            
        }
        else{
            $(".storage-browse-toggle").removeClass( "storage-browse-toggle-active" );
            $(".leaflet-control-browse.storage-control.leaflet-control").css("border","1px solid rgb(187, 187, 187)")
            $(".storage-browse-actions").css("display","none");
        }
    
    })
/*
$("input:checkbox").change(function(){
    var group = ":checkbox[name='"+ $(this).attr("name") + "']";
   
    console.debug("group",group,$(this).prop('checked'),$(group).not($(this)))
    
    if($(this).prop('checked')){
        console.debug("now doing it")
        $(group).not($(this)).click();
        $(this).parent().click();
    }


    });
 */
</script>
<script class="cssdeck" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script class="cssdeck" src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        
        map.addLayer(ClusterSuperGroup);
        
        $('label.tree-toggler').click(function () {
            $(this).parent().children('ul.tree').toggle(300);
        });

        $('#featureTree .tree-toggler').click()

       // $('#toggle-one').bootstrapToggle();



        $( "#A-Country" ).parent().on( "click", function() {
            hideAndAdd('A-Country','country');
        });
        $( "#T-Country" ).parent().on( "click", function() {
            hideAndAdd('T-Country','country');
        });
        $( "#A-Culture" ).parent().on( "click", function() {
            hideAndAdd('A-Culture','culture')
        });
        $( "#T-Culture" ).parent().on( "click", function() {
            hideAndAdd('T-Culture','culture')
        });
        $( "#A-Religion" ).parent().on( "click", function() {
            hideAndAdd('A-Religion','religion')
        });
        $( "#T-Religion" ).parent().on( "click", function() {
            hideAndAdd('T-Religion','religion')
        });
        $( "#A-MainRel" ).parent().on( "click", function() {
            hideAndAdd('A-MainRel','religionGeneral')
        });
        $( "#T-MainRel" ).parent().on( "click", function() {
            hideAndAdd('T-MainRel','religionGeneral')
        });
        $( "#A-Population" ).parent().on( "click", function() {
            hideAndAdd('A-Population','population')
        });

       
    });
</script>